{% extends 'base.html.twig' %}
{% block title %}
Connexion
{% endblock %}
{% block stylesheets %}
	{{ parent () }}
	<link rel="stylesheet" href="{{ asset('css/styleConnexion.css') }}" rel="stylesheet">
{% endblock%}
{% block mid %}
    		<section>
				<!-- === BEGIN CONTENT === -->
				<div id="content">
					{% if app.request.hasPreviousSession %}
						{% if not app.session.get('IdUtilisateur', false ) %}
                    <div class="container background-white">
                        <div class="row margin-vert-30">
                            <!-- Login Box -->
                            <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                                <form method="post" action=" {{ path('connexion_indexpage', {'verif' : 1}) }}" class="login-page">
                                    <div class="login-header margin-bottom-30">
                                        <h2>Connectez vous</h2>
                                    </div>
                                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input name="login" maxlength="50" placeholder="Entrez votre Email" class="form-control" type="text">
                                    </div>
                                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input maxlength="30" placeholder="Mot de passe" class="form-control" type="password" name="password">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary pull-right" type="submit">Connexion</button>
                                        </div>
                                    </div>
                                    <hr>
									<div class="signup-header">
										<p>Pas encore menbre ? Clique 
                                        <a href=" {{ path('inscription_indexpage') }} ">ICI </a>pour t'inscrire</p>
									</div>
                                </form>
                            </div>
							
                            <!-- End Login Box -->
                        </div>
                    </div>
						{% endif %}
					{% endif %}
					{% if app.request.hasPreviousSession %}
						{% if app.session.get('IdUtilisateur', false) %}
						<div class="container background-white">
							<div class="col-md-6 col-md-offset-3 col-sm-offset-3">
								<p>Vous êtes connectés, <a href="{{ path('deconnexion_indexpage') }}"> se déconnecter ?</a></p>
							</div>
						</div>
						{% endif %}
					{% endif %}
                </div>
				<!-- === END CONTENT === -->
				
		</section>

{% endblock %}
