{% extends 'base.html.twig' %}
{% block title %}
Accueil
{% endblock %}
{% block mid %}
    <div id="content">
                <div class="container no-padding">
                    <div class="row">
                        <!-- Carousel Slideshow -->
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <!-- Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example" data-slide-to="1"></li>
                                <li data-target="#carousel-example" data-slide-to="2"></li>
								<li data-target="#carousel-example" data-slide-to="3"></li>
                            </ol>
                            <div class="clearfix"></div>
                            <!-- End Carousel Indicators -->
                            <!-- Carousel Images -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{{ asset('images/slideshow/slide1.jpg') }}"">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/slideshow/slide2.jpg') }}"">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/slideshow/slide3.jpg') }}"">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/slideshow/slide4.jpg') }}"">
                                </div>
                            </div>
                            <!-- End Carousel Images -->
                            <!-- Carousel Controls -->
                            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <!-- End Carousel Controls -->
                        </div>
                        <!-- End Carousel Slideshow -->
                    </div>
                </div>
                <div class="container background-gray-lighter">
                    <div class="row margin-vert-40">
                        <div class="col-md-4">
                            <div class="col-md-4">
                                <i class="fa-clock-o fa-5x color-primary"></i>
                            </div>
                            <div class="col-md-8">
                                <h2 class="margin-top-5 margin-bottom-0">3 474 345</h2>
                                <p>HEURES REMONTES EN ARRIERE</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-4">
                                <i class="fa-tachometer fa-5x color-primary"></i>
                            </div>
                            <div class="col-md-8">
                                <h2 class="margin-top-5 margin-bottom-0">3 324</h2>
                                <p>VOYAGES DANS LE TEMPS</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-4">
                                <i class="fa-users fa-5x color-primary"></i>
                            </div>
                            <div class="col-md-8">
                                <h2 class="margin-top-5 margin-bottom-0">1567</h2>
                                <p>CLIENTS SATISFAITS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Text -->
                        <div class="col-md-12">
                            <h2 class="text-center">Bienvenue sur le Sablier</h2>
                            <p class="text-center">Le site unique pour voyager dans le temps</p>
                            <p class="text-center">Selectionnez votre voyage, remplissez le formulaire et passez à l'agence pour vivre une aventure extraordinaire. </p>
                        </div>
                        <!-- End Main Text -->
                    </div>
                </div>
                <div class="container background-gray-lighter">
                    <div class="row padding-vert-20">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <!-- Portfolio -->
                            <ul class="portfolio-group">
								<!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInLeft">
                                            <img class="spright" alt="image1" id="image1" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>La Pré-histoire</h3>
                                                <span>Qui n'a jamais rêvé de voir un dinosaure de ses propres yeux ? </span>
                                            </figcaption>
                                        </figure>

                                </li>
                                <!-- //Portfolio Item// -->
                                <!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInRight">
                                            <img class="spright" alt="image2" id="image2" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>L'Egypte Antique</h3>
                                                <span>Visitez les pyramides et rencontrez les pharaons ailleurs que dans leurs tombeaux! </span>
                                            </figcaption>
                                        </figure>

                                </li>
                                <!-- //Portfolio Item// -->
                                <!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInLeft">
                                            <img class="spright" alt="image3" id="image3" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>Le Moyen-Age</h3>
                                                <span>Rencontrer un roi ou une reine et devenir un chevalier est une occasion unique qu'on ne peut vivre qu'avec Le Sablier!</span>
                                            </figcaption>
                                        </figure>

                                </li>
                                <!-- //Portfolio Item// -->
                                <!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInRight">
                                            <img class="spright" alt="image4" id="image4" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>La Renaissance</h3>
                                                <span>Decouvrez les plus grands esprits du monde comme Leonard de Vinci ou Galilée et leurs decouvertes! </span>
                                            </figcaption>
                                        </figure>

                                </li>
                                <!-- //Portfolio Item// -->
                                <!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInLeft">
                                            <img class="spright" alt="image5" id="image5" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>Le Futur 2.0</h3>
                                                <span>Vous mourrez d'envie de voir l'evolution technologique sans précédent que connaitra la civilisation humaine? Allez 100 ans en avant! </span>
                                            </figcaption>
                                        </figure>

                                </li>
                                <!-- //Portfolio Item// -->
                                <!-- Portfolio Item -->
                                <li class="portfolio-item col-sm-6 col-xs-6 padding-20">

                                        <figure class="animate fadeInRight">
                                            <img class="spright" alt="image6" id="image6" src="{{ asset('images/frontpage/spright.png') }}">
                                            <figcaption>
                                                <h3>Le Futur 3.0</h3>
                                                <span>Mystère mystère...</span>
                                            </figcaption>
                                        </figure>

                                </li>
                            </ul>
                            <!-- End Portfolio -->
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
				<div class="container background-white">
                    <div class="row margin-vert-30">
						<h1 class="text-center">Quelques avis...</h1>
						{% if avis is null%}
                            <div class="col-md-12 login-page margin-bottom-40">
                                <h2 class="text-left">Aucuns</h2>
                            </div>
                        {% else %}
                            {% for avi in avis %}
                                <div class="col-md-12 login-page margin-bottom-40">
                                    <h2 class="text-left">{{avi.prenom}} - {{avi.titre}}</br></h2>
                                    <p class="text-left">{{avi.dateHist.format('d') }}/{{ avi.dateHist.format('m') }}/{{ avi.dateHist.format('Y') }}</br></p>
                                    <p class="text-left"><em>{{avi.contenu}}</em></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
{% endblock %}
