{% extends 'base.html.twig' %}
{% block title %}
Voyages
{% endblock %}
{% block stylesheets %}
	{{ parent () }}
	<link rel="stylesheet" href="{{ asset('css/styleConnexion.css') }}" rel="stylesheet">
{% endblock %}
{% block mid %}
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <div class="col-md-12">
                    <h2>Les Voyages</h2>
                    <!-- End Filter Buttons -->
				</div>
            </div>
            <div class="row">
                {{ include('reservation/template_voyages.html.twig') }}
            </div>
			<div class="row">
				<embed src="{{asset('svg/map.svg')}}" type="image/svg+xml" id="world" width="808" height="430"></embed>
			</div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">

	  /*
		Due to restrictions imposed by the same-origin policy, this demo
		probably won't work when accessed using the file:// URI scheme. If
		you're having trouble getting it to work, try accessing it over HTTP.
	  */

	  (function () {
		  var world = document.getElementById("world");
		  world.addEventListener("load", function () {
			 	var doc = world.getSVGDocument();
			  doc.addEventListener("mouseover",function(e){
			  var target = e.target;
			  var cc = target.getAttribute("cc") || target.parentElement.getAttribute("cc");
			  if (cc) {
					target.style.fill = "green";
				 }

				 });

				 doc.addEventListener("mouseout",function(e){
				 var target = e.target;
						 var cc = target.getAttribute("cc") || target.parentElement.getAttribute("cc");
				 if (cc) {
					target.style.fill = "white";
				 }

				 });

				// Alert the ISO3166 code of clicked countries
				doc.addEventListener("click", function (e) {
					  var target = e.target;
						 var cc = target.getAttribute("cc") || target.parentElement.getAttribute("cc");
					  if (cc) {
						   $.post("{{path('voyage_homepage')}}",{
							   pays: cc
						   },function(data, status){
							   $("#zoneVoyages").replaceWith(data);
						   });
					  }else
						alert("inexistant");

				});

		  });
	  }());



	</script>
{% endblock %}
